streamlit==1.36.0
openai==1.40.6
langchain==0.2.6
langchain-community==0.2.6
langchain-openai==0.1.7
faiss-cpu==1.8.0
tiktoken==0.7.0
python-dotenv==1.0.1
PyPDF2==3.0.1
pandas==2.2.2
requests==2.32.3
